{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".{json,babelrc,nycrc,prettierrc}",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".{css,less,scss}",
      "options": {
        "parser": "postcss"
      }
    }
  ]
}
